.products-page-body{
    display: grid;
    grid-template-columns: 20% 70%;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#rating{
    width: 200px;
    padding: 4px 4px;
}